@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  font-family: "REM", sans-serif;
  font-size: 16px;
  --nagivation-background-color: mediumslateblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.navigation-menu {
  height: 100vh;
  width: 300px;
  padding: 30px;
  background-color: var(--nagivation-background-color);
  color: #fff;
  transition: all 0.15s;
  display: flex;
  flex-direction: column;
}

.main-menu {
  height: 30%;
  margin-bottom: 100px;
  transition: all 0.15s;
}

.main-menu > div {
  margin-bottom: 30px;
}

.logo {
  font-size: 1.8rem;
  margin-bottom: 60px;
}

.fa-solid {
  margin-right: 20px;
  cursor: pointer;
  font-size: 1.3rem;
  transition: all 0.15s;
}

.fa-x {
  font-size: 2rem;
}

.fa-bars {
  font-size: 2rem;
  position: relative;
}

.navigation-menu a {
  text-decoration: none;
  color: white;
}

.navigation-menu a:hover,
.navigation-menu .fa-solid:hover {
  color: rgba(146, 255, 240, 0.842);
  transform: scale(1.4);
}

.navigation-menu a:active,
.navigation-menu .fa-solid:active {
  color: rgba(90, 189, 175, 0.842);
}

.secondary-menu > div {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.copyright-container {
  margin-top: auto;
}

.copyright-container > p {
  text-align: center;
}
